@model QMSWeb.Model.QueryData

<script src="~/Scripts/QueryData/_PartialView_SpecialItem.js"></script>
<script src="~/Scripts/jquery.easyui.min.js"></script>

<br />
<div id="el" class="easyui-layout" style="width:100%;height:475px">
    <div data-options="region:'west',title:'',split:true" style="width:240px;">
        <div style="padding-left:5px">
            @{
                <br />
                <div style="width:200px;height:18px;display:inline-block;margin:3px;text-align:center;border:1px solid #b7d2ff;border-radius:4px;background-color:lightgreen">
                    <a style="font-size:12px;font-family:'Microsoft YaHei';">All QC</a>
                    <input type="checkbox" id="chkQC" style="display: inline-block;height:10px;"/>
                    &emsp;<a style="font-size:12px;font-family:'Microsoft YaHei';">RCTO</a>
                    <input type="checkbox" id="chkRCTO" style="display: inline-block;height:10px;"/>
                </div><br /><br />
                 var xmlList = Model.xmlList;
                 var jsonxmlList = Newtonsoft.Json.JsonConvert.SerializeObject(Model.xmlList);
                 if (!string.IsNullOrEmpty(jsonxmlList))
                 {
                     foreach (var item in xmlList)
                     { 
                       string Item = item.Item;
                       string ItemType = item.ItemType;
                       if (Item != "ObjectName")
                       {
                          @Html.Label("", Item, new { @class = "Label" });
                       }
                       if (ItemType.ToLower() == "combobox")
                       {
                          <select id="@Item"></select>
                       }
                       else if (ItemType.ToLower() != "")
                       {
                          if (ItemType.ToLower() == "datetime")
                          {
                             string dtItem=Item;
                             <input class="easyui-datetimebox" id="@dtItem" data-options="onShowPanel:function(){$(this).datetimebox('spinner').timespinner('setValue','08:00:00');}">
                          }
                          else if (ItemType.ToLower() == "date")
                          {
                             @Html.TextBox(Item, "", new { @class = "easyui-datebox",type = "text"});
                          }
                          else if (ItemType.ToLower() == "time")
                          {
                             @Html.TextBox(Item, "", new { @class = "TextBox", type = "time" });
                          }
                          else
                          {
                             string strItem=Item;
                             if (strItem == "ObjectName")
                             {
                                @Html.TextBox(Item, "", new { @type = "hidden" })
                             }
                             else
                             {
                                <input id="@strItem" class="easyui-textbox TextBox_Q"/>
                             }
                           }
                         }
                       }
                      <input id="xmlList" type="hidden" value="@jsonxmlList"/>
                      <input id="QueryInterval" type="hidden" value="@Model.queryInterval"/>
                     @Html.TextBox("Station", "", new { type = "hidden"});
                    }
             }
            <div style="text-align:center;display:inline-block;width:220px">
                <br />
                <button id="submitQ" name="btnQuery" class="ButtonQuery" onclick="btn_click(this.id)">查询</button>
                <button id="submitE" name="btnExcel" class="Buttonexport" onclick="btn_click(this.id)">导出</button>
            </div> 
         </div>
    </div>
    <div data-options="region:'center',title:'',split:true" style="padding:5px;">
        <div style="height:150px;"><Table id="myDataTableSum" class="table"></Table></div>
        <br />
        <Table id="myDataTableDetail" class="table"></Table>
    </div>
</div>

