@model QMSWeb.Model.DefineData

<script src="~/Scripts/DefineData/_PartialView_ConfigureSetting.js"></script>

<div id="el" class="easyui-layout" style="width:100%;height:480px;">
    <div data-options="region:'east',title:'Define Zone',split:true" style="width:400px;">
        <div class="divRight_CS">   
        @{
           var xmlList = Model.xmlList;
           var jsonxmlList = Newtonsoft.Json.JsonConvert.SerializeObject(Model.xmlList);
           if (!string.IsNullOrEmpty(jsonxmlList))
           {
               foreach (var item in xmlList)
               { 
                  string Item = item.Item;
                  if (Item == "SourceLine" || Item == "DestinationLine")
                  {
                     continue;
                  }
                  string ItemType = item.ItemType;
                  <br />
                  if (ItemType.ToLower() == "combobox")
                  {
                     @Html.Label("", Item, new { @class = "DLabel" });
                     <select id="@Item"></select>
                  }
                  else if (ItemType.ToLower() != "")
                  {
                     @Html.Label("", Item, new { @class = "DLabel" });
                     string strItem=Item;
                    <input id="@strItem" class="easyui-textbox TextBox_MD"/>
                  }           
               }
            }
            <br /><br />
            <input id="xmlList" type="hidden" value="@jsonxmlList"/>
            <div style="text-align:center;padding-left:30px;">
                <button id="AddNew" class="ButtonAdd" name="AddNew" onclick="bt_click(this.id)">添加</button>
                <button id="Update" class="ButtonUpd" name="Update" onclick="bt_click(this.id)">更新</button>
                <button id="Delete" class="ButtonDel" name="Delete" onclick="bt_click(this.id)">删除</button>
            </div>
            <br /><br /><br /><br /><br /><br />
            <div style="text-align:center">
                @Html.Label("", "SourceLine", new { @class = "DLabel" })
                <select id="SourceLine"></select>
                <br />
                @Html.Label("", "DestinationLine", new { @class = "DLabel" })
                <select id="DestinationLine"></select>
                <br /><br />
                <button id="Copy" class="ButtonCopy" name="Copy" onclick="bt_click(this.id)">拷贝</button>
            </div>
        }
        </div>
        
    </div>

    <div data-options="region:'west',title:'LineStation',split:true" style="width:220px;"><ul id="tree"></ul></div>

    <div data-options="region:'center',title:'KeyInfo'" style="padding:5px;">
        @Html.Label("", "defined:Key Info", new { @class = "Label_CS" })
        <div class="divTop_CS"><Table id="myDtTable_define"></Table></div>
        @Html.Label("", "undefined:Key Info", new { @class = "Label_CS" })
        <div class="divBottom_CS"><Table id="myDtTable_undefine"></Table></div>
     </div>

</div>