@model QMSWeb.Model.SpecialItem

<script src="~/Scripts/SpecialItem/_PartialView_ChangeSNStatus.js"></script>

 <div class="divleft_CSN">   
        @{
           var xmlList = Model.xmlList;
           var jsonxmlList = Newtonsoft.Json.JsonConvert.SerializeObject(Model.xmlList);
           if (!string.IsNullOrEmpty(jsonxmlList))
           {
               foreach (var item in xmlList)
               { 
                  string Item = item.Item;
                  string ItemType = item.ItemType;
                  <br />
                  if (ItemType.ToLower() == "combobox")
                  {
                     @Html.Label("", Item, new { @class = "DLabel" });
                     <select id="@Item"></select>
                  }
                  else if (ItemType.ToLower() != "")
                  {
                      @Html.Label("", Item, new { @class = "DLabel" });
                      string strItem = Item;
                      <input id="@strItem" class="easyui-textbox TextBox_SI"/>
                  }           
               }
            }
            <br /><br />
            <input id="xmlList" type="hidden" value="@jsonxmlList"/>
            <div style="text-align:center"><button id="Update" class="ButtonUpd" name="Update" onclick="bt_click()">更新</button></div><br />
            <div class="div_fp_MD">
                 <br />
                  @Html.TextBox("filePath", "", new { @class = "f_TextBox"})
                 <button id="Upload" name="btnUpload" class="ButtonUpload" onclick="btUpload()">批量更新</button>
                 <br /><br />
                 <a class="href" href="javascript:dowloadTemplate()">[ Download Template ]</a>          
            </div>
        }
</div>

<div id="divmsg" class="divRight_CSN">消息:</div>





